/vendor
/node_modules
.git
.github
.env
.env.*
!.env.example
!.env.production.example
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/framework/testing/**
!storage/framework/testing/.gitkeep
storage/app/private/backups
tests
.phpunit.result.cache
docker-compose*.yml
README.md
docs
